<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>Calculator </h2>

 <app-operand (onValChange)="getFirstNumber($event)"></app-operand> 

 <p>+</p>
  
 <app-operand (onValChange)="getSecondNumber($event)"></app-operand> 

<!--<input type="Number" [(ngModel)]="FirstNumber" placeholder="First Number">-->

 <button (click) = "onCalculate()">Calculate</button>
 <result [amount]= "result"> </result>